DATABASE_URL=postgresql://devchat:devchat@localhost:5432/devchat?schema=public
DIRECT_URL=
JWT_KEY=
PORT=3000
CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GEMINI_API_KEY=
